{
  "apiVersion": "v1",
  "kind": "PersistentVolume",
  "metadata": {
    "name": "{% set temp=inventory_hostname.replace('.','_') %}{{ temp }}_{{ item.0.prefix }}{{ item.1 }}"
  },
  "spec": {
    "capacity": {
        "storage": "{{ item.0.lv_size }}{{ item.0.lv_unit | upper }}i"
    },
    "accessModes": [ "{{ item.0.pvtype }}" ],
    "nfs": {
        "path": "{{ item.0.base_dir }}/{{ item.0.prefix }}{{ item.1 }}",
        "server": "{{ inventory_hostname }}"
    },
    "persistentVolumeReclaimPolicy": "{{ item.0.pv_reclaim_policy }}"
  }
}

~
